/* add CSS class and element and selectors here */
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
body {
      background-color: lightblue;
      font-size: 150%;
    }
    #title-section {font-size: 'Shrikhand', cursive;}
    
  .info-section {font-family: 'Shrikhand', cursive;}

\
